
отчет.rar
отчет/model LQR psi0=0.15.mp4
отчет/model LQR psi_d0=3.14.mp4
отчет/model LQR theta_d0=3pi.mp4
отчет/mp4/model LQR psi0=0.mp4
отчет/mp4/model LQR psi_d0=3.mp4
отчет/mp4/model LQR theta_d0=3pi_1.mp4
отчет/mp4/My model d t=0.2 psi0=0.087 psi_d0 = 1.mp4
отчет/mp4/My model d t=0.2 psi0=0.087 psi_d0 = 1_1.mp4
отчет/mp4/My model d t=0.2 psi0=0.mp4
отчет/mp4/My model LQR psi0=0.mp4
отчет/mp4/My model LQR psi_d0=3.mp4
отчет/mp4/My model LQR theta_d0=3pi_1.mp4
отчет/mp4/My model t=0.2 psi0=0.087 psi_d0 = 1.mp4
отчет/mp4/My model t=0.2 psi0=0.087 psi_d0 = 1_1.mp4
отчет/mp4/My model t=0.2 psi0=0.087_1.mp4
отчет/My model d t=0.2 psi0=0.087 psi_d0 = 1.57 theta_d0 = -6pi.mp4
отчет/My model d t=0.2 psi0=0.087 psi_d0 = 1.57.mp4
отчет/My model d t=0.2 psi0=0.087.mp4
отчет/My model LQR psi0=0.15.mp4
отчет/My model LQR psi_d0=3.14.mp4
отчет/My model LQR theta_d0=3pi.mp4
отчет/My model t=0.2 psi0=0.087 psi_d0 = 1.57 theta_d0 = -6pi.mp4
отчет/My model t=0.2 psi0=0.087 psi_d0 = 1.57.mp4
отчет/My model t=0.2 psi0=0.087.mp4
отчет/отчет.pdf
